In [28]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv('retail_sales.csv')

In [4]:
df

,OrderID,ProductID,Category,Quantity,UnitPrice,CustomerID,Date
0,1,P124,Food & Beverage,3,73.89,C0407,2025-07-26
1,2,P119,Food & Beverage,1,196.59,C0178,2025-02-12
2,3,P040,Food & Beverage,3,435.92,C0460,2024-12-05
3,4,P061,Food & Beverage,5,432.09,C0007,2025-07-20
4,5,P017,Electronics,8,384.52,C0202,2024-11-01
...,...,...,...,...,...,...,...
995,996,P200,Electronics,9,368.72,C0136,2024-10-05
996,997,P098,Electronics,4,52.51,C0331,2025-01-26
997,998,P117,Books,3,498.88,C0257,2025-08-01
998,999,P019,Food & Beverage,3,367.59,C0116,2025-02-27
999,1000,P116,Apparel,5,90.05,C0401,2024-10-16

In [5]:
df.shape

(1000, 7)

In [6]:
df.dtypes

OrderID         int64
ProductID      object
Category       object
Quantity        int64
UnitPrice     float64
CustomerID     object
Date           object
dtype: object

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     1000 non-null   int64
 1   ProductID   1000 non-null   object
 2   Category    1000 non-null   object
 3   Quantity    1000 non-null   int64
 4   UnitPrice   1000 non-null   float64
 5   CustomerID  1000 non-null   object
 6   Date        1000 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 54.8+ KB

In [8]:
df.describe()

           OrderID     Quantity    UnitPrice
count  1000.000000  1000.000000  1000.000000
mean    500.500000     5.437000   253.509250
std     288.819436     2.891088   141.959211
min       1.000000     1.000000     5.200000
25%     250.750000     3.000000   131.035000
50%     500.500000     5.000000   260.265000
75%     750.250000     8.000000   374.127500
max    1000.000000    10.000000   499.230000

In [9]:
df.head(5)

,OrderID,ProductID,Category,Quantity,UnitPrice,CustomerID,Date
0,1,P124,Food & Beverage,3,73.89,C0407,2025-07-26
1,2,P119,Food & Beverage,1,196.59,C0178,2025-02-12
2,3,P040,Food & Beverage,3,435.92,C0460,2024-12-05
3,4,P061,Food & Beverage,5,432.09,C0007,2025-07-20
4,5,P017,Electronics,8,384.52,C0202,2024-11-01

In [31]:
# Step 1: Create Revenue column using NumPy
df['Revenue'] = np.multiply(df['Quantity'], df['UnitPrice'])
df

,OrderID,ProductID,Category,Quantity,UnitPrice,CustomerID,Date,Revenue
0,1,P124,Food & Beverage,3,73.89,C0407,2025-07-26,221.67
1,2,P119,Food & Beverage,1,196.59,C0178,2025-02-12,196.59
2,3,P040,Food & Beverage,3,435.92,C0460,2024-12-05,1307.76
3,4,P061,Food & Beverage,5,432.09,C0007,2025-07-20,2160.45
4,5,P017,Electronics,8,384.52,C0202,2024-11-01,3076.16
...,...,...,...,...,...,...,...,...
995,996,P200,Electronics,9,368.72,C0136,2024-10-05,3318.48
996,997,P098,Electronics,4,52.51,C0331,2025-01-26,210.04
997,998,P117,Books,3,498.88,C0257,2025-08-01,1496.64
998,999,P019,Food & Beverage,3,367.59,C0116,2025-02-27,1102.77
999,1000,P116,Apparel,5,90.05,C0401,2024-10-16,450.25

In [32]:
#top 3 product categories based on the total revenue
top_category = df.groupby('Category')['Revenue'].sum()
top_category

Category
Apparel            263648.72
Beauty             247853.21
Books              199697.85
Electronics        215428.79
Food & Beverage    207148.95
Home Goods         232926.31
Name: Revenue, dtype: float64

In [33]:
top_3 = top_category.sort_values(ascending = False).head(3)
top_3

Category
Apparel       263648.72
Beauty        247853.21
Home Goods    232926.31
Name: Revenue, dtype: float64

In [34]:
# Step 4: Convert to required format (list of dicts)
result = [{'Category': cat, 'Total_Revenue': round(rev, 2)} for cat, rev in top_3.items()]
result

[{'Category': 'Apparel', 'Total_Revenue': 263648.72},
 {'Category': 'Beauty', 'Total_Revenue': 247853.21},
 {'Category': 'Home Goods', 'Total_Revenue': 232926.31}]

In [35]:
order_totals = df.groupby('OrderID')['Revenue'].sum()

In [36]:
order_totals

OrderID
1        221.67
2        196.59
3       1307.76
4       2160.45
5       3076.16
         ...
996     3318.48
997      210.04
998     1496.64
999     1102.77
1000     450.25
Name: Revenue, Length: 1000, dtype: float64

In [37]:
AOV = round(order_totals.mean(), 2)
print("Average Order Value:", AOV)

Average Order Value: 1366.7

**OR**

In [38]:
num_order = df['OrderID'].nunique()

In [39]:
num_order

1000

In [40]:
total_revenue= df['Revenue'].sum()

In [21]:
total_revenue

np.float64(1366703.83)

In [41]:
avg_order_value = total_revenue / num_order

In [42]:
avg_order_value

np.float64(1366.7038300000002)

In [43]:
new = round(avg_order_value , 2)

In [44]:
new

np.float64(1366.7)

In [47]:
customer_orders = df.groupby("CustomerID")["OrderID"].nunique() #Group by CustomerID and count distinct OrderID
customer_orders

CustomerID
C0001    3
C0002    1
C0003    2
C0004    2
C0005    2
        ..
C0495    3
C0496    2
C0497    5
C0499    1
C0500    4
Name: OrderID, Length: 432, dtype: int64

groupby("CustomerID") → groups the dataset by each customer.

["OrderID"].nunique() → counts the number of unique orders placed by each customer.

In [50]:
max_customer = customer_orders.idxmax()   # CustomerID with max orders
max_orders = customer_orders.max()        # The actual number of orders
max_customer
max_orders

np.int64(6)

.idxmax() → gives the CustomerID with the highest number of distinct orders.

.max() → gives the highest count of orders.

In [51]:
result = {"CustomerID": max_customer, "Number_of_Orders": int(max_orders)} #Store the result in dictionary format
result

{'CustomerID': 'C0049', 'Number_of_Orders': 6}

In [52]:
# Make sure Date column is in datetime format
df['Date'] = pd.to_datetime(df['Date'])

In [53]:
# Extract Year-Month
df['YearMonth'] = df['Date'].dt.to_period('M').astype(str)

In [54]:
sales_trend = df.groupby('YearMonth')['Revenue'].sum().round(2) ## Group by Year-Month and sum revenue
sales_trend

YearMonth
2024-08    102144.79
2024-09    131848.01
2024-10    108752.11
2024-11    112093.03
2024-12    136301.90
2025-01    102097.57
2025-02     90980.56
2025-03    126556.54
2025-04     86597.07
2025-05    112506.20
2025-06    111257.68
2025-07    115851.76
2025-08     29716.61
Name: Revenue, dtype: float64

In [55]:
sales_trend_dict = sales_trend.to_dict()  #

print(sales_trend_dict)

{'2024-08': 102144.79, '2024-09': 131848.01, '2024-10': 108752.11, '2024-11': 112093.03, '2024-12': 136301.9, '2025-01': 102097.57, '2025-02': 90980.56, '2025-03': 126556.54, '2025-04': 86597.07, '2025-05': 112506.2, '2025-06': 111257.68, '2025-07': 115851.76, '2025-08': 29716.61}